body {
  padding: 0;
  margin: 0;
  font-family: Inter;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
}

.content {
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  .header,
  .subheader {
    color: #000;
    font-style: normal;
    line-height: normal;
  }

  .header {
    font-size: 48px;
    font-weight: 700;
  }

  .subheader {
    font-size: 24px;
    font-weight: 400;
  }
}

#json-content {
  display: flex;
  flex-direction: column;
  gap: 10px;

  #file-name {
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    display: none;
  }

  #json-tree {
    padding: 0;
    margin: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;

    .node,
    .array-node {
      width: 100%;
    }

    .key {
      color: #4e9590;
    }

    .value {
      color: black;
    }

    .array-node .node,
    .array-node .array-node {
      position: relative;
    }

    .array-node .node::before,
    .array-node .array-node::before {
      content: "";
      position: absolute;
      left: -15px;
      top: 0;
      bottom: 0;
      border-left: 1px solid #bfbfbf;
    }

    .node,
    .array-node,
    .leaf {
      margin-left: 20px;
    }
  }
}
