body {
  padding: 0;
  margin: 0;
  font-family: Inter;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
}

.content {
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  .header,
  .subheader {
    color: #000;
    font-style: normal;
    line-height: normal;
  }

  .header {
    font-size: 48px;
    font-weight: 700;
  }

  .subheader {
    font-size: 24px;
    font-weight: 400;
  }
}

#json-tree {
  padding: 0;
  margin: 0;
  min-height: 100dvh;
  display: none;
  gap: 24px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;

  .key {
    color: #4e9590;
  }

  .value {
    color: black;
  }

  .entry {
    margin-left: 20px;
  }


  .array-node .leaf,
  .array-node .property {
    position: relative;
  }

  .array-node .leaf::before,
  .array-node .property::before {
    content: "";
    position: absolute;
    left: -15px;
    top: 0;
    bottom: 0;
    border-left: 1px solid #bfbfbf;
  }

  .node,
  .array-node,
  .property,
  .leaf {
    margin-left: 20px;
  }
}
